@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>@ViewBag.MagicalMessage</h2>

<p>Use this page to detail your site's privacy policy.</p>

@for (int i = 0; i < 10; i++)
{
    <p> Hello word! @i </p>
}
